.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-top-bar-ul {
  color: #fff;
}

.header-top-bar-ul-middle {
  text-align: center;
}

.header-top-bar-ul-right {
  text-align: right;
}

.header-top-bar-li {
  display: inline-block;
  margin-right: 8px;
  font-size: 25px;
}